.button {
  color: $white;
  font-size: 1.2rem;
  font-family: $font-main;
  padding: gutter(1) gutter(3);
  display: inline-block;
  background-color: $primary;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: lighten($primary, 5);
    text-decoration: none;
  }

  &--center {
    text-align: center;
    margin: auto;
  }

  &--info {
    background-color: $info;

    &:hover {
      background-color: darken($info, 10);
    }
  }
}
