%text {
  margin: 0;
  padding: 0;
}

.headline {
  @include cssLock("font-size", 360, $container, (60, 90));

  font-family: $font-title;
  font-weight: $bold;
  color: $white;
  text-transform: uppercase;
}

.title {
  font-size: 45px;
  font-family: $font-title;
  font-weight: $bold;
  text-transform: uppercase;
  color: $black;
  display: block;
  position: relative;

  @extend %text;

  &--small {
    font-size: 25px;
  }
}

.pretitle {
  font-size: 20px;
  font-family: $font-title;
  color: $secondary-light;
  font-weight: $medium;
  text-transform: uppercase;

  @extend %text;
}

.text {
  font-size: 17px;
  font-family: $font-main;
  font-weight: $regular;
  letter-spacing: 0;

  @extend %text;

  &--center {
    text-align: center;
  }
}
