.content-single {
  &__content {
    padding-left: gutter(5);
  }

  &__cover {
    width: 80%;
    position: sticky;
    top: gutter(14);
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__title {
    margin-bottom: gutter(5);
  }
}
