.footer {
  background-color: $white;
  margin: 0 auto;
  text-align: left;
  color: $black;
  padding: gutter(2.5) 0;

  @include media("<md") {
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  &__logo {
    margin: 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: gutter(3.5);
      width: auto;
    }
  }
}
