.hero {
  position: relative;
  max-height: 85vh;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  overflow: hidden;

  &::after {
    content: "";
    background: rgba($black, 0.5);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
  }

  &__content {
    position: relative;
    text-align: center;
    margin: auto;
    max-width: gutter(65);
    z-index: 3;
  }

  &__header {
    margin-top: 0;
    position: relative;
    display: block;
  }

  &__subheader {
    font-size: 26px;
    color: lighten($primary, 15);
    padding: gutter(1) gutter(2);
    max-width: gutter(55);
    display: block;
    margin: auto;
  }

  &__text {
    display: block;
    font-size: 21px;
    opacity: 0.8;
  }
}
