.offer {
  margin: gutter(2) auto;
  color: $secondary;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: baseline;

  @include media("<=lg") {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto -100px;
  }

  &__column {
    padding-top: gutter(15);

    @include media("<=lg") {
      padding-top: gutter(5);
    }
  }

  &__image {
    @include cssLock("max-width", 360, $container, (300, 560));

    margin: auto;

    @include media("<=lg") {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__box {
    max-width: gutter(40);
    margin: auto;
    padding: gutter(1);
    height: gutter(28);

    @include media(">=lg") {
      padding: gutter(2);
      margin: auto;
      height: 100%;

      &--right {
        margin-left: - gutter(3);
        margin-top: gutter(4);
      }

      &--left {
        margin-right: - gutter(4);
        margin-top: gutter(4);
      }
    }
  }

  &__title {
    margin-bottom: gutter(5);
    position: relative;
  }

  &__link {
    display: block;
    margin-top: gutter(0.5);
    font-weight: $light;
    text-decoration: underline;
    color: $black;

    &:hover {
      margin-left: gutter(0.5);
      color: $primary;
    }
  }
}
