.slider {
  width: 100%;
  position: relative;
  color: $white;
  height: gutter(60);
  margin-top: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: -2;

  &::after {
    content: "";
    display: block;
    background-color: rgba($primary, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    position: relative;
    color: $white;
    margin: auto;
    text-align: center;
    max-width: gutter(100);
    z-index: 900;

    @include media("<=md") {
      width: 100%;
    }
  }

  &__title {
    color: $white;
  }

  &__text {
    line-height: 34px;
    padding: gutter(4) 0 gutter(2);
  }
}
