.small-hero {
  @include cssLock("min-height", 360, $container, (160, 260));

  position: relative;
  //max-height: 85vh;
  margin-top: 125px;
  //min-height: gutter(25);
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  overflow: hidden;

  &::after {
    content: "";
    background: rgba($primary-light, 0.1);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__bg {
    position: fixed;
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center top;
    z-index: 0;
  }

  &__content {
    position: relative;
    text-align: center;
    margin: auto;
    z-index: 3;
  }

  &__title {
    @include cssLock("font-size", 360, $container, (40, 60));

    display: block;
    opacity: 0.9;
    color: $white;
    letter-spacing: 2px;
  }
}
