.small-hero {
  position: relative;
  max-height: 85vh;
  margin-top: 100px;
  min-height: gutter(25);
  display: flex;
  align-items: center;
  text-align: center;
  color: $white;
  overflow: hidden;

  &::after {
    content: "";
    background: rgba($primary-light, 0.1);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center top;
    z-index: 1;
  }

  &__content {
    position: relative;
    text-align: center;
    margin: auto;
    z-index: 3;
  }

  &__title {
    display: block;
    opacity: 0.9;
    color: $white;
    font-size: 60px;
    letter-spacing: 2px;
  }
}
