/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// tab colors
$theme-colors: (
  primary: #328d0c,
  secondary: #7a7a7a,
  primary-light: #61ce4e,
  primary-dark: #51b340,
  bg: #f7f7f7,
  light: #f3f3f3,
  dark: #262a2c,
  gray_dark: #716d6c,
  gray-light: #f6f6f6,
  gray: #eee,
  white: #fff,
  black: #000
);

// colors
$primary: #328d0c;
$secondary: #7a7a7a;
$secondary-light: #9e9d9d;
$primary-light: #61ce4e;
$primary-dark: #51b340;
$bg: #f7f7f7;
$light: #e9e9e9;
$dark: #262a2c;
$gray-light: #f6f6f6;
$gray_dark: #716d6c;
$gray: #eee;
$white: #fff;
$black: rgb(37, 37, 37);

// font weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$bold-black: 900;

// font family
$font-main: "Roboto", sans-serif;
$font-title: "Oswald", sans-serif;
$font-special: "Oswald", sans-serif;

// media
$breakpoints: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);

// gutter
$gutter: 10px;

// width
$container: 1700;

// shadow
$shadow: 3px 7px 31px rgba($black, 0.06);

// border
$line: 1px solid rgba($white, 0.2);
$line-dark: 1px solid rgba($black, 0.2);

// animation
$transition: 0.3s;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
